<div class="main-explain-area jumbotron">
	<h3>Our games</h3>
	<p></p>
	<iframe frameborder="0" src="https://itch.io/embed/1450567?bg_color=fbdf6b&amp;fg_color=141020&amp;link_color=ed5259&amp;border_color=cfb33f" width="208" height="167"><a href="https://kalawasacraft.itch.io/superame">Superame by kalawasacraft</a></iframe>
	<iframe frameborder="0" src="https://itch.io/embed/1474141?bg_color=d0da91&amp;fg_color=141020&amp;link_color=ed5259&amp;border_color=cccccc" width="208" height="167"><a href="https://kalawasacraft.itch.io/cookies-and-pine-nuts">Cookies and pine nuts - The feats of kalawasa by kalawasacraft</a></iframe>
	<iframe frameborder="0" src="https://itch.io/embed/1543426?bg_color=3c5e8b&amp;fg_color=ebede9&amp;link_color=75a743&amp;border_color=3e424d" width="208" height="167"><a href="https://kalawasacraft.itch.io/rocks-or-cookies">Rocks or cookies - The feats of kalawasa by kalawasacraft</a></iframe>
</div>