<div class="main-explain-area jumbotron">
  <p>If you enjoyed any of our games, you may consider <strong><strong>supporting our work.</strong></strong> It's more cookies for me and less bills to pay for my human.</p>
  <div id="created-by">Sincerely <a href="#">kalawasa</a> <b>❤</b></div>
  <p>
    <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="kalawasacraft" data-color="#FFDD00" data-emoji="🍪"  data-font="Cookie" data-text="Buy me a cookie" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
  </p>
  <p>
    <a href="https://www.paypal.com/donate/?hosted_button_id=G4LX976N3SVDA" target="_blank">
      <img src="/assets/img/paypal_donate.png" class="button-paypal">
    </a>
  </p>
  
</div>